<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo pwa Movies</title>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="img/icon192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="CSS/nprogress.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="js/nprogress.js"></script>
    <script defer src="js/main.js"></script>
    
</head>
<body>
    <div class="container">
        <main id="app">
            <div class="block">                
                <h1 class="title is-center">Movies</h1>
                <button class="button" @click="showFormAdd = !showFormAdd">Add</button>
            </div>
            <div class="block" v-if="showFormAdd">
                <form >
                    <h2 class="subtitle">New</h2>
                    <div class="field">
                        <div class="control">
                            <input v-model="newName" class="input" type="text" placeholder=" Movie name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input v-model="newDuration" class="input" type="number" placeholder="Duration">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click.prevent="addMovie">Save</button>
                    </div>
                </form>
            </div>
            <div class="block">
                <table width="100%">
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                    <tr v-for="movie in movies" :class="{'desenfoque' : isLoading}">
                        <td> 
                            <input v-if="editableMovies == movie.id" v-model="editName" class="input" type="text" placeholder="Movie name">
                            <span v-else>{{movie.name}}</span>
                        </td>
                        <td>
                            <input v-if="editableMovies == movie.id" v-model="editDuration" class="input" type="number" placeholder="Duration">
                            <span v-else>{{movie.duration}}</span> min 
                        </td>
                        <td>
                            <button  class="button" v-if="editableMovies!= movie.id" :disabled="isLoading" @click="editShowMovie(movie.id)">Edit Movie</button>
                        <button  class="button" v-else :disabled="isLoading" @click="editMovie(movie.id)">Save Movie</button>
                        <button :disabled="isLoading" class="delete" @click="deleteMovie(movie.id)"></button>
                    
                        </td>
                    </tr>
                </table>                
            </div>
            <div class="bloc">
                <button 
                    v-if="page > 1"
                    :disabled="isLoading" 
                    @click="page=page - 1" 
                    class="button"
                >Previous
                </button>
                <button
                v-if="page < getMaxPage"
                    :disabled="isLoading" 
                    @click="page=page + 1"
                    class="button" 
                >Next
                </button>

            </div>
    
        </main>

    </div>
   
    
</body>
</html>